<div id='application'>
  <!--Navigation-->
  <div id='navigation'>
    {{render 'navigation'}}
  </div>

  <!--Main Content-->

  {{outlet}}

  <!--Footer-->
  <div id='footer'>
    <div class='container'>
      <h3>Lionworxs concise informational text here</h3>
      <hr />
      {{#if loggedIn}}

      {{else}}
        {{partial "navigation"}}
      {{/if}}

      <p>&#169; {{year}} Nocturnal Creative</p>
    </div>
  </div>
</div>
