<div class='container'>
  <div id='header'>

    <div id='header_text'>
      <h2>Login to Lionworxs</h2>
    </div>

  </div>
</div>
<div id='main'>
  <div class='container'>
    <p class='header-text-1'>To login to your Lionworxs portal, please select what type of user you are.</p>
    <p>Who are you?</p>
    {{view Ember.Select
      content=user_types
      optionValuePath="content.cr"
      optionLabelPath="content.hr"
      value=selected_type}}
    <button {{action login}}>Login</button>

    <hr />

    <select class="sort-button">
      <option>Select</option>
      <option {{action login}}>Student</option>
      <option {{action login 'parent'}}>Parent</option>
      <option {{action login 'teacher'}}>Teacher</option>
      <option {{action login 'administrator'}}>Administrator</option>
    </select>

    <!--<h4><button {{action toggleSort}} class='sort-button'>Login</button></h4>-->

  </div>
</div>
